.display-eventos {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  font-family: "Gravitas one", cursive;
  color: rgb(209, 209, 0);
  font-size: 2rem;
  text-align: center;
}
.form {
  color: $primary-color;
  border-radius: 8px;
  text-align: center;
  padding: 20px 30px;
  max-width: fit-content;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  background-color: $background-color;
}
.input-eventos {
  color: $primary-color;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  font-size: 1rem;
  font-family: "Roboto", bold;
  max-width: 100%;
  background-color: $primary-color;
}
.text-area {
  width: 100%;
  background-color: $primary-color;
}
.buttom {
  background-color: $primary-color;
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Roboto", sans-serif;
}
.display-eventos2 {
  text-align: center;
  align-items: center;
  width: max-content;
  font-family: "Roboto", sans-serif;
  padding: 8px 12px;
  margin: 8px 0 0;
}
.h1-eventos {
  font-family: $fontfamily-principal;
  color: $primary-color;
  text-align: center;
  font-size: 3.4rem;
}
.parrafo-eventos {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  color: grey, black;
  max-width: 767px;
  font-size: 1.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.descripcion-eventos {
  background-color: grey;
}
.formulario-section {
  background-color: gray;
}
