.intro-menu {
  background-color: $background-color;
}

.tittle-principal-menu {
  font-family: "Roboto", sans-serif;
  color: rgb(209, 209, 0);
  text-align: center;
  font-size: 2.5rem;
}
.parrafo-principal-menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Bebas Neue";
  font-style: italic;
  color: grey, black;
  max-width: 767px;
  font-size: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
card-group {
  background-color: $background-color;
}

@media (min-width: 950px) {
  .tittle-menu {
    display: none;
  }
}
