#intro-promos {
  align-content: center;
  text-align: center;
}

.display-promo {
  color: black;
  background-color: red;
  font-size: 100px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
  font-family: $titulos;
}

.promo_img1 {
  .promo_img2 {
    width: 100%;
    max-width: 100%;
  }
}
