#intro-promos {
  align-content: center;
  text-align: center;
}

.display-promo {
  color: gray;
  background-color: $primary-color;
  width: 100%;
  text-align: center;
  max-width: 100%;
  text-align: center;
}
h1 {
  color: black;
  background-color: $primary-color;
  width: 100%;
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
}
.promocion1 {
  .promocion2 {
    width: 100%;
    max-width: 100%;
  }
}
