#intro-promos {
  align-content: center;
}

.display-promo {
  color: gray;
  background-color: $primary-color;
  width: 100%;
  font-size: 80px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
}
.promocion1 {
  .promocion2 {
    width: 100%;
    max-width: 100%;
  }
}
